
<% if @posts.any? %>
	<% @posts.each do |post| %>
	<h2><%= post.title %></h2>
	<h2><%= post.content %></h2>
	<% end %>
<% else %>
	No Posts
<% end %> 

<%= link_to 'New Post', new_post_path %>

<a href='#'>Sign Up</a>